@import './logo-fruits.css';
@import './right-column.css';
@import './features.css';
@import './footer.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
