
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .navBar {
        max-width: 100vw;
        padding: 2%;
        background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8));
      }
      .navBarTitle {
        display: inline-block;
        margin-inline: 5%;
        color: rgb(255, 255, 255);
      }
      .enabled {
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 0.6% 1.5%;
      }
      .mainHeader1 {
        background-image: url("https://e0.pxfuel.com/wallpapers/850/763/desktop-wallpaper-construction-site-construction-work.jpg");
        height: 500px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .mainHeader2 {
        height: 500px;
        width: 100%;
      }
      .mainHeader2 img {
        margin: 2%;
        width: 29%;
        height: 90%;
      }
      .mainHeader3 {
        padding: 2%;
        background-color: rgb(0, 0, 0);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
      }
      .mainHeader3SubTitle {
        width: 45%;
        display: inline-block;
        color: rgb(255, 255, 255);
      }
      .mainHeader3SubTitle2 {
        width: 45%;
        display: inline-block;
        margin: 1%;
      }