
body {
    width: 50%;
    height: 100%;
    margin: 0px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
}

.para_graph {
    font-size: 1.4rem;
}