
  .container {
    padding: 40px;
    font-weight: bold;
    font-size: 5em;
    outline: solid 1px black;
    text-align: center;
  }

  #number {
    padding: 100px;
    font-weight: bold;
    font-size: 5em;
    outline: solid 1px black;
    text-align: center;
  }

  